@import "../../styles/index.module.scss";

.CountryDetails {
  display: grid;
  grid-template-columns: 1fr 0.2fr 0.5fr 0.5fr;
  grid-template-rows: 0.2fr 0.45fr 0.5fr 0.5fr 0.2fr 0.5fr;
  width: min(95%, 1440px);
  margin-inline: auto;
  padding-bottom: 10rem;
  grid-template-areas:
    "back . gameTarget gameTarget"
    ". . . ."
    "image . title ."
    "image . info1 info2"
    "image . . ."
    "image . info3 info3";
  @media (max-width: 800px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.5fr 0.2fr 0.3fr 0.3fr 0.2fr;
    grid-template-areas:
      "back "
      "target"
      "image "
      "title "
      "info1 "
      "info2 "
      "info3 ";
    max-width: 90%;
    margin-inline: auto;
  }
  &__back {
    grid-area: back;
    margin-top: 6.5rem;
    button {
      font-size: 1.6rem;
      background-color: var(--element-color);
      color: var(--primary-text-color);
      border: none;
      padding: 0.6rem 3.5rem;
      box-shadow: 10px 10px 20px rgba(black, 0.2);
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.7s;
      &:hover {
        transform: translateX(-15px);
      }
      span {
        padding-right: 1rem;
        font-size: 2.2rem;
      }
    }
  }
  &__gameTarget {
    grid-area: gameTarget;
    margin-top: 6.5rem;
    @media (max-width: 800px) {
      grid-area: target;
      width: 100%;
      margin-top: 7.5rem;
      font-size: 1.8rem;
      text-align: center;
    }
    h4 {
      font-size: 2.5rem !important;
      background-color: $primary-red;
      padding: 0.6rem 2rem;
      border-radius: 10px;
      color: var(--primary-text-color);
      @media (max-width: 800px) {
        font-size: 1.6rem !important;
        padding: 1rem 2rem;
      }
    }
  }
  &__image {
    grid-area: image;
    @media (max-width: 800px) {
      margin-top: 7rem;
    }
  }
  h4 {
    font-size: 1.6rem;
    font-weight: 600;
    display: inline;
  }
  span {
    font-size: 1.4rem;
    display: inline-block;
  }
  &__title {
    grid-area: title;
    font-size: 3rem;
  }
  &__Info1 {
    grid-area: info1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
  }
  &__Info2 {
    grid-area: info2;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  &__Info3 {
    grid-area: info3;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    @media (max-width: 700px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__border {
    display: grid;
    grid-template-columns: repeat(3, 0.33fr);
    gap: 1rem;
    margin-left: 1rem;
    @media (max-width: 700px) {
      margin-left: 0;
    }
    @media (max-width: 350px) {
      margin-inline: auto;
      grid-template-columns: repeat(2, 0.45fr);
    }

    span {
      @include makeACard;
      padding: 0.4rem 2rem;
      cursor: pointer;
      background-color: var(--element-color);
      @media (max-width: 700px) {
        padding: 0.4rem 2rem;
      }
    }
  }
  &__error {
    margin-inline: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      font-size: 4rem;
      text-align: center;
    }
  }
}
